<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Disterir tweer habla de catastrofes</title>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
    
    </head>

    <body>
        <div class="f">
            <h1>Solicitar</h1>

            <!-- Form to enter new data for predictions  -->
            <form action="{{ url_for('predict')}}"method="POST">
                <input type="text" name="tweet" placeholder="Tweet" required="required" /><br>
                <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
            </form>

        <br>
        <br>
        
        
        </div>
        {{pred}}

    </body>
</html>
